In [1]:
import urllib.request, json 
import pandas as pd
import numpy as np
import os
import nltk, gensim
from nltk import word_tokenize

C:\Users\kb910\Anaconda3\lib\site-packages\gensim\utils.py:865: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [2]:
os.getcwd()

'C:\\Users\\kb910\\Google 드라이브\\경배끄10\\인턴\\python_code\\리뷰'

# 리뷰데이터

## Pick-up

In [4]:
os.chdir('C:\\Users\\kb910\\Google 드라이브\\경배끄10\\인턴\\csv파일\\리뷰들\\픽업리뷰')
data = open('mid_pickup_review.json').read()
data = pd.DataFrame(json.loads(data))

In [5]:
data.columns

Index(['author', 'averageRating', 'carDetailsDto', 'comfortRatingDto',
       'commentsCount', 'created', 'id', 'interiorRatingDto', 'legacyId',
       'link', 'make_name', 'model_name', 'newReview', 'performanceRatingDto',
       'ratings', 'reliabilityRatingDto', 'safetyRatingDto', 'styleId',
       'styleName', 'technologyRatingDto', 'text', 'thumbsUpDownCounter',
       'title', 'updated', 'userRating', 'valueRatingDto', 'version',
       'year_dummy'],
      dtype='object')

In [31]:
data['updated'][1]

1496112692110.0

In [24]:
int("1500050485138")

1500050485138

In [38]:
import datetime
print(
    datetime.datetime.fromtimestamp(
        int("1477930013")
    ).strftime('%Y-%m-%d %H:%M:%S')
)

2016-11-01 01:06:53

In [54]:
data['updated'].apply(str)[:5]

1      1500050485138.0
10     1496112692110.0
100    1477931989566.0
101    1477496358711.0
102    1477248153733.0
Name: updated, dtype: object

In [56]:
data['updated'] = data['updated'].apply(str).str[:-5]

In [59]:
print(datetime.datetime.fromtimestamp(int(data['updated'][0])).strftime('%Y-%m-%d %H:%M:%S'))

2017-07-15 01:41:25

In [37]:
test = data[['model_name','updated','title']]
test[test['title']=="Super Truck"]['updated'][0]

1477930013203.0

In [62]:
data16 = data[data['year_dummy']==2016]
data17 = data[data['year_dummy']==2017]

## 16년 픽업트럭 SUV빈도

In [72]:
len(data16)

248

In [73]:
voca = ['highlander','durango','cx-9','pilot','pathfinder','4runner','flex','traverse','acadia','explorer','murano','cherokee','qx50','santa']
test = [ str(x) for x in data16['text'].values.tolist() ] 

from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(vocabulary=voca)
context = test
X = vectorizer.fit_transform(context)
TDM_matrix = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())

for column in TDM_matrix.columns:
    TDM_matrix.loc[TDM_matrix[column] != 0, column] = 1
    
    
TDM_matrix.loc[('sum_count')] = [ TDM_matrix[x].sum() for x in TDM_matrix.columns ]

In [74]:
TDM_matrix.loc['sum_count']

highlander    0
durango       0
cx-9          0
pilot         0
pathfinder    0
4runner       1
flex          1
traverse      1
acadia        0
explorer      0
murano        1
cherokee      1
qx50          0
santa         1
Name: sum_count, dtype: int64

In [75]:
TDM_matrix.loc['sum_count'].sum() / len(data16)

0.024193548387096774

## 17년도 픽업트럭 SUV빈도

In [66]:
len(data17)

177

In [67]:
voca = ['highlander','durango','cx-9','pilot','pathfinder','4runner','flex','traverse','acadia','explorer','murano','cherokee','qx50','santa']
test = [ str(x) for x in data17['text'].values.tolist() ] 

from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(vocabulary=voca)
context = test
X = vectorizer.fit_transform(context)
TDM_matrix = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())

for column in TDM_matrix.columns:
    TDM_matrix.loc[TDM_matrix[column] != 0, column] = 1
    
    
TDM_matrix.loc[('sum_count')] = [ TDM_matrix[x].sum() for x in TDM_matrix.columns ]

In [71]:
TDM_matrix.loc['sum_count']

highlander    0
durango       0
cx-9          0
pilot         6
pathfinder    0
4runner       0
flex          0
traverse      0
acadia        0
explorer      0
murano        2
cherokee      1
qx50          0
santa         0
Name: sum_count, dtype: int64

In [70]:
TDM_matrix.loc['sum_count'].sum() / len(data17)

0.05084745762711865

## 12~15년도

In [77]:
data = open('all_truck_review(12~15).json').read()
data = pd.DataFrame(json.loads(data))

In [78]:
data12 = data[data['year_dummy']==2012]
data13 = data[data['year_dummy']==2013]
data14 = data[data['year_dummy']==2014]
data15 = data[data['year_dummy']==2015]

In [97]:
voca = ['highlander','durango','cx-9','pilot','pathfinder','4runner','flex','traverse','acadia','explorer','murano','cherokee','qx50','santa']
test = [ str(x) for x in data16['text'].values.tolist() ] 

from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(vocabulary=voca)
context = test
X = vectorizer.fit_transform(context)
TDM_matrix = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())

for column in TDM_matrix.columns:
    TDM_matrix.loc[TDM_matrix[column] != 0, column] = 1
    
    
TDM_matrix.loc[('sum_count')] = [ TDM_matrix[x].sum() for x in TDM_matrix.columns ]

TDM_matrix.loc['sum_count'].sum() / len(data16)

0.024193548387096774

In [92]:
TDM_matrix.loc['sum_count']

highlander    0
durango       0
cx-9          0
pilot         0
pathfinder    0
4runner       1
flex          1
traverse      1
acadia        0
explorer      0
murano        1
cherokee      1
qx50          0
santa         1
Name: sum_count, dtype: int64

In [95]:
len(data17)

177